@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: white;
  margin: auto;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 26%, rgba(5,143,179,1) 61%, rgba(0,212,255,1) 100%);
  font-family: 'Raleway', sans-serif;
}
#main-wrapper {
  display: flex;
  flex-flow: column-reverse;
  height: 100vh;
}
h1 {
  margin-bottom: 0;
}
aside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  gap: 0 1em;

}
aside p {
  grid-column: 2/4;
  justify-self: center;
}
#easy {
  grid-column: 1/2;
  grid-row: 1/2;
}
#normal {
  grid-column: 2/3;
  grid-row: 1/2;
}
#hard {
  grid-column: 3/4;
  grid-row: 1/2;
}

.diff-label {
  margin: 0 0 1em 0;
  padding: 0;
  text-align: center;
}
.diff-label li {
  list-style: none;
}
button {
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1em;
  background-color: hsla(200, 0%, 5%, .7);
  margin: 0 .5em;
  color:hsla(200, 0%, 90%, 1); ;
}
button:hover {
  background-color: hsl(200, 70%, 30%);
  color: aliceblue;
  cursor: pointer;

}
#leaderboard {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  padding: 1em;
}
#high-scores {
  /* padding: 1em; */
  display: none;
  width: 100%;
  row-gap: 1em;
  /* overflow: scroll; */
  /* scroll-behavior: smooth; */
}
#leaderForm {
  position: relative;
  z-index: 99;
}
#leaderForm h3 {
  color: white;
}
main {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
main > p {
  padding: 0 1em;
}
#canvas {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 50vh;
  margin: auto;
  border: 1px solid black;
}

#score, #counter {
  font-size: 1.5em;
}
#counter {
  position: relative;
  margin-bottom: 0;
}

.grid {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
}
#report {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 26%, rgba(5,143,179,1) 61%, rgba(0,212,255,1) 100%);
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}
#displayBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(121,89,9,1) 26%, rgba(5,143,179,1) 61%, rgba(0,212,255,1) 100%);
  width: 80vw;
  height: 50vh;
}

#extraTime {
  position: absolute;
  bottom: 0;
  left: 50%;
  visibility: hidden;
}
.float {
  transform: translate(50px, -400px) scale(2);
  opacity: 0;
  transition: all 2s;
}

/* TABLE CSS  */
.upper {
  /* height: 20vh; */
  overflow: hidden;
  /* margin-bottom: 5vh; */
}
.movies {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 30px;
}
.movies::-webkit-scrollbar {
  display: none;
}
.movie{
  width: 300px;
  /* height: 350px; */
  flex-shrink: 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
  scroll-snap-align: start;
  margin: 0 15px;
}
/* .lower {
  height: 70vh;
} */
.header {
  padding: 1em;
  text-align: center;
  color: white;
}

.smiley {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: hsl(210, 40%, 50%);
  /* border-radius: 25px; */
  border: 1px solid gray;
}
.smiley h2 {
  text-align: center;
  color: white;
  margin: 1em 0 0 0;
}
.contentContainer {
  position: relative;
  background: hsl(210, 5%, 10%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100%;
  box-sizing: border-box;
}
.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 15px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  color: white;
}
.content.visible {
  opacity: 1;
  pointer-events: visible;
}
table {
  width: 100%;
  /* table-layout: fixed; */
}
th {
  text-align: left;
}

.happy {
  background-image: url('src/img/happy-face-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sad {
  background-image: url('src/img/sad-face.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.flash {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: flasher 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes flasher {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@media screen and (min-width: 600px) {
  body {
    width: 80%;
  }
  #canvas {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    height: 500px;
    margin: auto;
    border: 2px solid black;
  }
  #main-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  aside {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
  
  }
  aside p {
    display: none;
  }
  #leaderboard {
    cursor: pointer;
    height: 10%;
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  #high-scores {
    width: 390px;
  }
}